
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

img {
    width: 400px;
    height: auto;
}

.info-container img {
    width: 220px;
    height: auto;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    color: #f9faf8;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #e5e7eb
}
.right-links {
    display: flex;
    gap: 24px;
    list-style: none;
    font-size: 18px;
}

.subheader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    padding-top: 80px;
}

.subheader-card-hero {
    max-width: 500px;
    color: #f9faf8;
    font-size: 48px;
    font-weight: 1000;
    margin-bottom: 10px;
}

.subheader-card-small {
    max-width: 500px;
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 10px;

}

.subheader-container {
    display: flex;
    flex-direction: column;
}

button {
    max-width: 150px;
    background-color: #3882f6;
    color: white;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    border-color: white;
    font-size: 24px;
}

.info-title {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 1000;
    color: #1f2937;
    margin: 40px
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 100px;
}

.info {
    display: flex;
    max-width: 220px;
    flex-wrap: wrap;
    font-size: 18px;
    color: darkslategrey;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    margin-bottom: 50px;
}

.quote-text {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    font-size: 36px;
    font-style: italic;
    color:#1f2937;
    padding-top: 170px;
}

.quote-author {
    /* align-self: flex-end;
    padding-right: 385px;
    padding-top: 30px; */
    font-size: 25px;
    font-weight: 900;
    display: flex;
    max-width: 300px;
    flex-wrap: wrap;
    padding-left: 600px;
    padding-bottom: 100px;
}

.signup-container {
    display:flex;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 50px;
    margin: 100px 100px;
    justify-content: center;
    align-items: center;
}

.signup-text-container {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.signup-text-big {
    font-size: 24px;
    color: #f9faf8;
}